include README.md
include LICENSE
include config.json
include profiles.json
include example-project.yml
recursive-include ui/templates *.html
recursive-include ui/static *.css *.js
recursive-include docs/screenshots *.png
